/* signUp */
.signUp {
  background-image: url("./images/signUpBackground.jpg");
  color: #ffffff;
  width: 100%;
  height: 631px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
}
.signUp .span{
  text-align: center;
font-family: 'Poppins';
font-size: 5rem;
letter-spacing: -2.06px;
color: #FFFFFF;
font-weight: bold;
}
.signUp .head{
  text-align: center;
font-family: 'Poppins';
font-size: 5rem;
letter-spacing: -2.06px;
color: #FFFFFF;
}

