/* socialmedia */
.SocialMediamain .heading{

  font-family: 'Poppins';
    margin: auto;;
    font-weight: bold;
    font-size: 5.5rem;
    letter-spacing: -1.8px;
    color: #111111;
    opacity: 1;
    align-self: center;
}
.SocialMediamain .sideBySide {
  display: flex;
  justify-content: center;
  flex-direction: row;
  grid-gap: 5rem;
  margin-top:29px;
 
}
.SocialMediamain .flex{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.SocialMediamain .circle{
  width:2.12rem;
  height:2.12rem;
  margin-left:.625rem;
  margin-top:0.938rem ;
}